.form{
  border: 2px #e0e0e0 solid;
  border-radius: 40px;
  padding: 10px;
  
}
form{
    width: 100%;
}
.form{
  
  -webkit-box-shadow:  0px 0px 6px 3px rgba(47, 129, 237, 0.548);
  -moz-box-shadow:  0px 0px 6px 3px rgba(47, 129, 237, 0.445);
  box-shadow:  0px 0px 10px 1px rgba(47, 129, 237, 0.288);
  border: none;
  padding: 4vw;
  margin-bottom: 40px;
}
.form h3{
  position: relative;
  z-index: 0;
  padding-bottom: 10px;
  width: fit-content;
  text-align: center;
  margin-bottom: 60px;
}
.form h3::after{
  position: absolute;
  content: "";
  width: 70%;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: -webkit-linear-gradient(to right, #2F80ED, #58f0ff,white);
   background: linear-gradient(to right, #2F80ED, #58f0ff,white);
  z-index: 1;
}
.header-form{
  width: 100%;
  text-align: center;
}
.form label{
  font-size: 20px;
}
.form .date{
  width: 100%;
  padding: 4px;

}
::-webkit-calendar-picker-indicator { 
  background: -webkit-linear-gradient(to right, #58f0ff, #2F80ED);
  background: linear-gradient(to right, #58f0ff, #2F80ED);
  height:20px;
  color: white;
  cursor: pointer;
 }
 ::-webkit-inner-spin-button { display: none; }
 .uk-form{
   margin-bottom: 50px;
   padding-bottom: 10px;
 }
.form .uk-button{
  width: 100%;
  border-radius: 10px;
  background: -webkit-linear-gradient(to right, #58f0ff, #2F80ED);
  background: linear-gradient(to right, #58f0ff, #2F80ED);
  border: none;
}